
</body>
<footer class="white-section" id="footer">
    <div class=" container-fluid">
        <div class="icons">
            <i class="single-icon fa-brands fa-twitter"></i>
            <i class="single-icon fa-brands fa-facebook"></i>
            <i class="single-icon fa-brands fa-instagram"></i>
            <i class="single-icon fa-solid fa-envelope-open-text"></i>
        </div>
        <p class="copyright">© Copyright WOW</p>

    </div>
</footer>

</html>
